exportPattern("^[[:alpha:]]+")
importFrom(optimx,optimx)
importFrom("graphics", "abline", "hist", "layout", "legend", "lines","mtext", "par", "plot", "points")
importFrom("stats", "aggregate", "cor", "deriv", "qqplot")
importFrom("utils", "tail")
import(BB)
import(Hmisc)
S3method(plot,MatData)
S3method(plot,GroAgeData)
S3method(plot,GroAgeExp)
S3method(plot,GroAgeMod)
